#sidebar {
  width: 20%;

  .nav {
    .ul {
      display: flex;
      flex-direction: column;

      .li {
        margin-bottom: 20px;

        a {
          display: block;
          height: 80px;
          line-height: 80px;
          padding: 0 30px;
          background-color: #f5f5f5;
          border-radius: 0 99px 99px 0;
        }
        &.active {
          a {
            background-color: #b8d200;
            text-align: right;
            color: #fff;
          }
        }
      }
    }
  }
}